
<% if notice %>
  <p id="notice" >
  <%= notice %></p>
<% end %>

<div style="text-align: center;">
  <h2><%= t('.title_html') %></h2>
</div>
<br />
<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price$</th>
    <th>Quantity</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= image_tag(product.image_url) %></td>
    <td><h3><%= product.title %></h3></td>
    <td><%= sanitize(product.description) %></td>
    <td><%= product.price %></td>
    <td><%= button_to t('.add_html'), line_items_path(:product_id => product), :remote => true %></td>
  </tr>
<% end %>
</table>